@import '~%/colors';

body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

a {
  color: $color-text-dark;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: $color-text-dark;
    text-decoration: none;
  }
}

::selection {
  background: $color-text-dark;
  color: $color-text-light;
}

mark {
  background: $color-text-dark;
  color: $color-text-light;
  padding: 2px 0;

  a {
    color: $color-text-light;
  }
}

