@import '~%/colors';

html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text-dark;

  &.demo, * {
    transition: all 0.6s;
  }
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: inherit;
    text-decoration: none;
  }
}

::selection {
  background: $color-text-dark;
  color: $color-text-light;
}

pre {
  display: block;
}

mark {
  background: $color-text-dark;
  color: $color-text-light;
  padding: 2px 0;

  a {
    color: $color-text-light;
  }
}

svg {
  transform: rotate(0deg);
}

